.chat-input-container {
  display: flex;
  gap: 10px;
  background-color: rgb(0, 0, 64);
  padding: 10px;
  margin: 5px 0px;
  border: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 30px;
  max-width: 580px;
  transition: padding 0.3s ease;
}

.chat-input-container:hover{
  padding: 12px
}

.chat-input {
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 20px;
  flex:1;
  border: solid;
  border-color: rgba(255, 255, 255, 0.241);
  max-width: 400px;
  flex: 3;
  background-color: black;
  color: white;
  transition: padding 0.3s;
}

.chat-input{
  padding: 12px 17px;
}


.send-button {
  background: #3667c1;
  color: #fff;
  border: 0;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px 15px;
  transition: padding 0.3s ease, background-color 0.8s ease, color 0.8s ease;
}

.send-button:hover{
  padding: 12px 17px;
}

.send-button:active {
  background-color: rgba(49, 54, 49, 0.66);
  color: #494848;
}

.clear-button {
  background: #ffffff;
  color: #000000;
  border: 0;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: padding 0.3s ease, background-color 0.8s ease, color 0.8s ease;
}
.clear-button:hover{
  padding: 12px 17px;
}
.clear-button:active{
  background-color: black;
  color: white;
}





.loading-gif {
  width: 40px;
  margin: -15px;
}

@media (max-width: 530px) {
  .chat-input-container {
    gap: 10px;
    height: 40px;
  }

  .send-button {
    font-size: 12px;
    padding: 5px 10px;
  }

  .clear-button {
    font-size: 12px;
    padding: 5px 10px;
  }

  .chat-input {
    max-width: 180px;
  }
}

@media (max-width: 460px){
  .chat-input{
    max-width: 120px;
    font-size: 9px;
  }
}