.chat-messages-container {
        flex: 1;
        margin-top: 20px;
        margin-right: 10px;
        margin-left: 10px;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
      
      

      
      .default-message{
        background: linear-gradient(to right, #825fff, #feb47b);
        -webkit-background-clip: text;
        background-clip:text;
        -webkit-text-fill-color:transparent;
        color: transparent;
        display: flex;
        font-size: 30px;
        font-weight: bold;
        width: 100%;
        max-width: 500px;
        word-wrap: break-word;
      }

      /* Mobile Responsive */
      @media (max-width: 768px) {
        .default-message {
          font-size: 22px;
        }
      }

      @media (max-width: 480px) {
        .default-message {
          font-size: 18px;
        }
      }

      /* hide scrollbar in WebKit */
      .chat-messages-container::-webkit-scrollbar {
        display: none;
      }
      .default-message-container{
        display: flex;
        justify-content: center;
      }