.chat-message-user {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
      }

      .chat-message-robot {
        display: flex;
        align-items: flex-start;
      }
      .chat-message-text {
        padding: 15px 20px;
        background: #444343;
        border-radius: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        max-width: 300px;
        cursor: pointer;
        color:white;
        transition: padding 0.52s;
      }

      .chat-message-text:hover{
        padding: 20px 25px;
      }
    .chat-message-profile {
        width: 45px;
        height: auto;
      }